
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


/* header title font */
.main-header .logo {
  font-family: "Lato";
  font-weight: bold;
  font-size: 20px;
}

/* background color for remaining part of the header */

.skin-blue .main-header .navbar {
                              background-color: #763d7a;
                              } 
                              
                              
                              
/* background color of header (logo part) */
.main-header .logo .logo-lg {
          background-color: #497abd;
        }
                              
p{
  text-align: justify;
  font-family:"Lato";
}



